body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #aaa;
}

a {
	color: #00B7FF;
}

.header {
	overflow: hidden;
	background: #333;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	border-bottom: 0.4em solid #0c4;
	margin-bottom: 1em;
}

.header img {
	padding: 1em;
}

.button {
	background-color: #0a3;
	border: 2em #0c4;
	color: white;
	text-align: center;
	padding: 1em;
	margin: 1em;
	border-radius: 1em;
	font-size: 1.5em;
	text-decoration: none;
	cursor: pointer;
}

.smallbutton {
	background-color: #0a3;
	border: 1em #0c4;
	color: white;
	text-align: center;
	content: 8em;
	padding: 0.2em;
	margin: 1em;
	border-radius: 0.5em;
	font-size: 1.5em;
	text-decoration: none;
	cursor: pointer;
}

.cards {
	display: inline;
}

.card {
	border: 2px solid #0c4;
	background-color: #ccc;
	padding: 0.5em;
	padding-bottom: 3em;
	margin: 4em;
	box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 2em;
	text-align: center;
}

.specialcard {
	border: 2px solid #f66;
	background-color: #ccc;
	padding: 0.5em;
	padding-bottom: 3em;
	margin: 4em;
	box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 2em;
	text-align: center;
}

.card .hover {
	box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.2);
}

.card .title {
	font-weight: bold;
	font-size: large;
	text-align: center;
}

.card .players {
	width: 50%;
	text-align: left;
	float: left;
}

.card .dm {
	width: 45%;
	text-align: left;
	float: left;
}

.card .date {
	width: 45%;
	text-align: right;
	float: right;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

#paned {
	display: inline;
}

#compendium {
	width: 33%;
	height: 100%;
	float: left;
	background-color: lightpink;
	display: flex;
	flex-direction: column;
	text-align: center;
	vertical-align: center;
}

.journal {
	width: 100%;
	background-color: #ea0;
	min-height: 5em;
	margin-bottom: 1em;
	text-align: center;
	vertical-align: center;
}

.journal:hover {
	background-color: #b80;
}

#information {
	width: 66%;
	height: 100%;
	float: right;
	background-color: lightblue;
}

form {
	text-align: center;
}

form label {
	font-size: 2em;
}

form input {
	border-radius: 1em;
	font-size: 2em;
	text-align: center;
}

.selector {
	display: inline;
	background: #333;
	padding: 0.5em;
	margin-bottom: 1.5em;
}

.scroll {
	height: 100%;
	width: 100%;
	overflow: scroll;
}
